<!DOCTYPE html>
<html>
<head>
  <title>Blocipedia</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div>
      <% if current_user %>
        <ul class="blocipedia-icon pull-left">
          <p>
            <a href=<%= wikis_path %>>
              <img src="https://ujk-portfolio-development.s3.amazonaws.com/uploads/work/blocipedia/blocipedia.svg" style="float:left;width:100px;height:100px;">
            </a>
          </p>
        </ul>
      <% else %>
        <ul class="blocipedia-icon pull-left">
          <p>
            <a href=<%= welcome_index_path %>>
              <img src="https://ujk-portfolio-development.s3.amazonaws.com/uploads/work/blocipedia/blocipedia.svg" style="float:left;width:100px;height:100px;">
            </a>
          </p>
        </ul>
      <% end %>
    </div>
    
    <div>
      <ul class="nav nav-tabs pull-right">
        <% if current_user %>
          <li><%= link_to "Users", users_path %></li>
          <li><%= link_to current_user.email, edit_user_registration_path %></li>
          <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%=  link_to "Sign In", new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
     
    <%= yield %>
  </div>
</body>
</html>
